{% load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
    {{ form.media }}
    <title>Vici | Edit Profile</title>

    <script type="text/javascript">
      function addOpeningHourCb() {
        var openingHoursList=document.getElementById('openingHoursList');
        nbOfChilds=openingHoursList.childElementCount;

        if(nbOfChilds<2) {
          var listItem=document.createElement('li');
          listItem.innerHTML=`<div class="inlineInputContainer">
            <input class="textInput dayInput" type="text" name="dayInput`+(nbOfChilds+1)+`" value="Sa" disabled>
            <input class="textInput hoursInput" type="text" name="hoursInput`+(nbOfChilds+1)+`" value="">
          </div>`;
          openingHoursList.appendChild(listItem);
        }
        else {
          //do this in a more fancy way if more time
          alert('Take a rest day ;)');
        }
      }

      function removeOpeningHourCb() {
        var openingHoursList=document.getElementById('openingHoursList');
        nbOfChilds=openingHoursList.childElementCount;

        if(nbOfChilds>=2) {
          openingHoursList.removeChild(openingHoursList.lastChild);
        }
        else {
          //do this in a more fancy way if more time
          alert('You need to have an opening indication!');
        }
      }
    </script>
  </head>
  <body>
    <header>
      <div class="fullNav">
        <div id="profileIcon">
          <a href="{% url 'viciapp:edit_profile' %}"><img src="{% static 'img/logo_full.png' %}" alt="profile icon"></a>
        </div>
        <form id="logOutForm" action="{% url 'viciapp:index' %}" method="post">
          {% csrf_token %}
          <input class="logOutButton" type="submit" name="logOut" value="Log Out">
        </form>
      </div>
    </header>

    <main>
      <div class="editProfileContainer">
        <div class="formContainer">
          <h2 class="formTitle">Manage Account Data</h2>
          <form class="editData" id="changeAccountData" action="{% url 'viciapp:index' %}" method="post">
            {% csrf_token %}
            <label for="changeEmail">Change E-Mail</label>
            <span class="errorMsg" id="emailError">{{errorMsgEmail}}</span>
            <span class="errorMsg" id="emailErrorJS"></span>
            <input class="textInput" type="text" name="email" placeholder="address@example.ch">

            <label for="pw">Password</label>
            <span class="errorMsg" id="pwError">{{errorMsgPw}}</span>
            <span class="errorMsg" id="pwErrorJS"></span>
            <input class="textInput" type="password" id="pw" name="pwLogIn">

            <label for="pwConfirm">Confirm Password</label>
            <span class="errorMsg" id="pwConfirmError">{{errorMsgPwConfirm}}</span>
            <span class="errorMsg" id="pwConfirmErrorJS"></span>
            <input class="textInput" type="password" id="pwConfirm" name="pwConfirm">

            <input class="submitButton" type="submit" name="changeAccountData" value="Apply Changes">
          </form>
        </div>

        <div class="formContainer">
          <h2 class="formTitle">Manage Profile</h2>
          <form class="editData" id="changeProfileData" action="{% url 'viciapp:index' %}" method="post">
            {% csrf_token %}
            {{ form }}
          </form>
        </div>
      </div>

    </main>
    <footer>
      <div class="mainFooter landingFooter">
        <div class="footerContainer">
          <p>Help</p>
          <hr>
          <a href="{% url 'viciapp:about' %}">FAQ</a>
        </div>
        <div class="footerContainer">
          <p>About us</p>
          <hr>
          <a href="{% url 'viciapp:about' %}#aboutProject">Project</a>
          <a href="{% url 'viciapp:about' %}#aboutTeam">Team</a>
          <a href="{% url 'viciapp:about' %}#aboutContact">Contact Us</a>
        </div>
      </div>
    </footer>
  </body>
</html>
