{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/file_reader.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
    <script type="text/javascript" src="{% static 'js/file_reader.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/edit_profile_check.js' %}" charset="utf-8"></script>

    </script>
    <title>Vici | Edit Profile</title>
  </head>
  <body onload="setupFormCheck([readerLogo, readerCover, readerImgs])">
    <header>
      <div class="fullNav">
        <div id="profileIcon">
          <a href="{% url 'viciapp:edit_profile' %}"><img src="{% static 'img/logo_full.png' %}" alt="profile icon"></a>
        </div>
        <form id="logOutForm" action="{% url 'viciapp:edit_profile_process' %}" method="post">
          <input class="logOutButton" type="submit" name="logOut" value="Log Out">
        </form>
      </div>
    </header>
    <main>
      <div class="editProfileContainer">
        <div class="formContainer">
          <h2 class="formTitle">Manage Account Data</h2>
          <form class="editData" id="changeAccountData" action="{% url 'viciapp:index' %}" method="post">
	    {% csrf_token %}
            <label for="changeEmail">Change E-Mail</label>
            <span class="errorMsg" id="emailError">{{errorMsgEmail}}</span>
            <span class="errorMsg" id="emailErrorJS"></span>
            <input class="textInput" type="text" name="email" placeholder="address@example.ch">

            <label for="pw">Password</label>
            <span class="errorMsg" id="pwError">{{errorMsgPw}}</span>
            <span class="errorMsg" id="pwErrorJS"></span>
            <input class="textInput" type="password" id="pw" name="pwLogIn">

            <label for="pwConfirm">Confirm Password</label>
            <span class="errorMsg" id="pwConfirmError">{{errorMsgPwConfirm}}</span>
            <span class="errorMsg" id="pwConfirmErrorJS"></span>
            <input class="textInput" type="password" id="pwConfirm" name="pwConfirm">

            <input class="submitButton" type="submit" name="changeAccountData" value="Apply Changes">
          </form>
        </div>

        <div class="formContainer">
          <h2 class="formTitle">Manage Profile</h2>
          <form class="editData" id="changeProfileData" action="{% url 'viciapp:edit_profile_process' %}" method="post" enctype="multipart/form-data">
	    {% csrf_token %}
	    <h3>General</h3>
            <label for="">Company Name</label>
            <input class="textInput" type="text" name="" value="">

            <label for="">Logo</label>
            <div id="logoFileReader" class="file_reader" >
              <script type="text/javascript">
                var readerLogo=new file_reader('logoFileReader','logoFileReaderFS','logoFileReaderC','logoFileReaderDZ');
              </script>
            </div>
            <label for="">Cover Photo</label>
            <div id="coverFileReader" class="file_reader" >
              <script type="text/javascript">
                var readerCover=new file_reader('coverFileReader','coverFileReaderFS','coverFileReaderC','coverFileReaderDZ');
              </script>
            </div>

            <label for="">Category</label>
            <label for="">Services</label>

            <h3>Address</h3>
            <label for="">Street</label>
            <input class="textInput" type="text" name="street" value="">

            <label for="">City</label>
            <div class="inlineInputContainer">
              <input class="textInput" id="NAPInput" type="text" name="NAP" value="">
              <input class="textInput" id="city" type="text" name="cityName" value="">
            </div>


            <h3>Contact</h3>
            <label for="">Email</label>
            <input class="textInput" type="text" name="" value="">

            <label for="">Phone</label>
            <input class="textInput" type="text" name="" value="">

            <h3>About the Company</h3>
            <label for="">Description</label>
            <textarea name="descritionTxt" rows="8" cols="80"></textarea>

            <label for="">Info Images</label>
            <div id="imagesFileReader" class="file_reader" >
              <script type="text/javascript">
                var readerImgs=new file_reader('imagesFileReader','imagesFileReaderFS','imagesFileReaderC','imagesFileReaderDZ');
              </script>
            </div>

            <label for="">How Can People Help?</label>
            <textarea name="helpUsTxt" rows="8" cols="80"></textarea>

            <input class="submitButton"  id="applyProfileChanges" type="submit" name="changeProfileData" value="Apply Changes">
          </form>
        </div>
      </div>

    </main>
    <footer>
      <div class="mainFooter landingFooter">
        <div class="footerContainer">
          <p>Help</p>
          <hr>
          <a href="{% url 'viciapp:about' %}">FAQ</a>
        </div>
        <div class="footerContainer">
          <p>About us</p>
          <hr>
          <a href="{% url 'viciapp:about' %}">Project</a>
          <a href="{% url 'viciapp:about' %}">Team</a>
          <a href="{% url 'viciapp:about' %}">Contact Us</a>
        </div>
      </div>
    </footer>
  </body>
</html>
