<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vici | Terms and Conditions</title>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/terms_and_conditions.css">
  </head>
  <body>
    <header>
      <div class="mainHeader aboutHeader">
        <script id="language_script" data-languages="en,fr" data-debug="1" src="js/language_selector.js"></script>

        <language class="headerLang" id="langSelector" data-type="select">
        </language>
      </div>
    </header>

    <main>
      <div class="aboutContainer">
        <div id="termsContainer" class="aboutContainer">
          <h1 lang="en">Terms and Conditions</h1>
          <h1 lang="fr">Conditions d'utilisation</h1>
          <hr>
          <p lang="en">TODO Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p lang="fr">TODO</p>
        </div>
      </div>
    </main>

    <footer>
      <div class="mainFooter landingFooter">
        <div class="footerContainer">
          <p lang="en">Help</p>
          <p lang="fr">Aide</p>
          <hr>
          <a href="about.html#aboutFaq">FAQ</a>
        </div>
        <div class="footerContainer">
          <p lang="en">About us</p>
          <p lang="fr">Sur nous</p>
          <hr>
          <a lang="en" href="about.html#aboutProject">Project</a>
          <a lang="en" href="about.html#aboutTeam">Team</a>
          <a lang="en" href="about.html#aboutContact">Contact Us</a>
          <a lang="fr" href="about.html#aboutProject">Projet</a>
          <a lang="fr" href="about.html#aboutTeam">Team</a>
          <a lang="fr" href="about.html#aboutContact">Contactez Nous</a>
        </div>
      </div>
    </footer>

  </body>
</html>
