{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vici | About</title>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/about.css">
  </head>
  <body>
    <header>
      <div class="mainHeader aboutHeader">
        <script id="language_script" data-languages="en,fr" data-debug="1" src="js/language_selector.js"></script>

        <language class="langCheckbox" id="langSelector" data-type="select">
        </language>
      </div>
    </header>

    <main>
      
    </main>

    <footer>
      <div class="mainFooter landingFooter">
        <div class="footerContainer">
          <p>Help</p>
          <hr>
          <a href="about.html">FAQ</a>
        </div>
        <div class="footerContainer">
          <p>About us</p>
          <hr>
          <a href="about.html">Project</a>
          <a href="about.html">Team</a>
          <a href="about.html">Contact Us</a>
        </div>
      </div>
    </footer>

  </body>
</html>
