* {
  background-color: inherit;
  color: inherit;
}

body{
  min-height: calc(100vh-3.9em);
}

main {
  background-color: var(--bgColor1);
  color: var(--textColor4);
  padding: 10vh 20vw;
  display: grid;
}

/*HEADER*/
header {
  height: min-content;
}

.fullNav {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin: auto 0px;
}

#profileIcon {
  width: 7vh;
  min-width: 70px;
  height: 7vh;
  min-height: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--textHeaderColor);
  margin: 1vh;
}

#profileIcon img {
  width: 100%;
}

header form {
  position: relative;
  height: 7vh;
  min-height: 70px;
  display: flex;
  margin: auto 0px auto 0px;
}

.logOutButton {
  display: block;
  border: none;
  background: none;
  height: 2em;
  margin: auto;
  color: var(--textHeaderColor);
}

.logOutButton:hover {
  color: var(--textHeaderHoverColor);
  cursor: pointer;
}

/*MAIN*/
.editProfileContainer {
  width: 100%;
}

.formTitle {
  border-bottom: 2px solid var(--textColor4);
}

.formContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formContainer form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
  height:min-content;
}

/*MANAGE PROFILE FORM*/

#NAPInput {
  width: 20%;
}

#city {
  width: 70%;
}

/*FILER READER*/
.file_reader {
  background: var(--bgColor1);
  width: 100%
}

.file_reader>*,.file_reader>*>* {
  background: var(--bgColor1);
  font-family: var(--fontParagraph);
  font-size: 11pt;
  letter-spacing: normal;

}

.file_select_buttons {
  height: 2em;
  display: flex;
}

.file_select_buttons>* {
  line-height:2.5em;
  background: var(--bgColor4);
  color: var(--textColor4);
  text-transform: none;
  width: max-content;
  height: 2.5em;
  border: none;
  margin: 0px 0.5em;
  padding: 0 1em;

}

.file_select_buttons>*:hover {
  background: var(--bgColorHover4);
  color: var(--textColorHover4);

}

.file_select_buttons>*:active {
  background: var(--bgColorHover4);
}

.file_select {
}

.drop_zone {
  width: inherit;
}

.drop_zone p.drop_here {
  height: 5vw;
  line-height: 5vw;
}

.uploaded_item .file_tb_container {
}

.uploaded_item {
}

div.uploaded_item:last-of-type {
}

.uploaded_item img {
}

.uploaded_item p {

}

.uploaded_item:hover .delet_item {

}
