* {
  background-color: inherit;
  color: inherit;
}

body{
  min-height: calc(100vh-3.9em);
}

main {
  background-color: var(--bgColor1);
  color: var(--textColor4);
  padding: 6vh 20vw 10vh 20vw;
  display: grid;
}

p, label, input {
    font-size: 12pt;
}

/*HEADER*/
header {
  height: min-content;
}

.fullNav {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin: auto 0px;
}

#profileIcon {
  width: 7vh;
  min-width: 70px;
  height: 7vh;
  min-height: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--textHeaderColor);
  margin: 1vh;
}

#profileIcon img {
  width: 100%;
}

header form {
  position: relative;
  height: 7vh;
  min-height: 70px;
  display: flex;
  margin: auto 0px auto 0px;
}

.logOutButton {
  display: block;
  border: none;
  background: none;
  height: 2em;
  margin: auto;
  color: var(--textHeaderColor);
}

.logOutButton:hover {
  color: var(--textHeaderHoverColor);
  cursor: pointer;
}

/*MAIN*/
.editProfileContainer {
  width: 100%;
}

.formTitle {
  border-bottom: 2px solid var(--textColor4);
}

.formContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formContainer form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
  height:min-content;
}

.formContainer h2:first-child {
  margin-top:4vh;
}



/*MANAGE PROFILE FORM*/
.textInput {
  margin: 0 0 0.4vh 0;
}

h3 {
  border-bottom: 2px solid var(--textColor4);
  margin: 2vh 0 1vh 0; 
}

#NAPInput {
  width: 20%;
}

#city {
  width: 70%;
}

.selectionContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 2vh 0;
}

.radioOrCheckboxContainer {
  display: flex;
  flex-direction: column-reverse;
  width: 25%;
}

.radioOrCheckbox {
  display: none;
}

.icon {
  display: block;
  width: 3vh;
  height: 3vh;
  background: var(--bgColor2);
  border-radius: 50%;
  margin: 0 auto;
}

.textLabelRadioOrCheckbox {
  font-size: 10pt;
  height: 3vh;
  line-height: 3vh;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "...";
  text-align: center;
  width: 100%;
}

.selectOther .textInput {
  padding: 0;
  height: 2vh;
  line-height: 2vh;
  margin: 0.5vh auto 0.5vh auto;
  width: 80%;
  text-align: center;
  
  
}

.radioOrCheckbox:checked ~ .icon {
  background: var(--bgColor3);
}

.radioOrCheckbox:checked ~ .icon:hover {
  background: var(--bgColorHover3);
}

.icon:hover {
  background: var(--bgColorHover4);
}

.radioOrCheckboxContainer .textInput {
  font-size: 10pt;
}

li {
  list-style: none;
}

button {
  width: min-content;
  height: 2.5em;
  border: none;
  background: var(--bgColor4);
  color: var(--textColor4);
  margin: 1vh auto 0 auto;
  padding: 0 1em;
  border-radius: 0.2vw;
}

button:hover {
  background: var(--bgColorHover4);
  color: var(--textColorHover4);
}

.dayInput {
  width: 20%;
}

.hoursInput {
  width: 70%;  
}

input[type=file] {
  margin: 1vh 0;
}