* {
  background-color: inherit;
  color: inherit;
	font-size:inherit;
}

body {
  font-size: 12pt;
  color: #333;
}


/* ******** MAIN ********* */
main {
  /*
  background-image:url('../img/landingBg.jpg');
  background-position: center right;
  background-size: cover;*/
  background-color: var(--bgColor1);
  min-height: calc(100vh - 3.9em);
  overflow: auto;
}

.container {
  margin: 4vh 15vw;
  padding: 0vh 7vw 4vh 7vw;
  color: var(--textColor1);
  background-color: var(--bgColor1);
  text-align: center;
  border-radius: 3vh;
}

#viciLogo {
  height: 30vh;
}

.mainTitle {
  font-size: 26pt;
  font-weight: bold;
  color: var(--textColor1);
  text-align: center;
}

.landingPageNav {
  margin-top: 10vh;
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
}

.buttonPanel {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-basis: 35%;
  align-items: center;
  justify-content: center;
  font-size: 11pt;
  color: var(--textColor3);
  background-color: var(--bgColor3);
  border-radius: 2vh;
  padding: 3%;
  padding-bottom: 10vh;
  overflow: hidden;
}

.linkButton {
  display: flex;
  position: absolute;
  bottom: 0;
  width:80%;
  height: 6vh;
  font-size: 12pt;
  align-items: center;
  justify-content: center;
  background-color: var(--bgColor4);
  border-radius: 1vh;
  margin: 2vh 2vh;
  overflow: hidden;
}

.linkButton a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--textColor4);
  line-height: 6vh;
}

.linkButton a:hover {
  color: var(--textColorHover4);
  background-color: var(--bgColorHover4);
  cursor: pointer;
}

@media(max-width:600px){
  .landingPageNav{
    flex-direction: column;
    margin-top:10vh;
  }
  .buttonPanel {
    margin-top: 4vh;
  }
}
