:root {
  --bgColor1:rgb(239, 244, 238);
  --bgColorHover1:rgb(0,0,0);
  --bgColor2:rgb(250,250,250);
  --bgColorHover2:rgb(0,0,0);
  --bgColor3:rgb(144, 196, 130);
  --bgColorHover3:rgb(91,156,73);
  --bgColor4:rgb(197, 210, 160);
  --bgColorHover4:rgb(202,221,152);
  --headerColor:rgb(109, 145, 102);
  --footerColor:rgb(168,195,162);
  --textColor1:rgb(141,211,95);
  --textColorHover1:rgb(102,158,46);
  --textColor2:rgb(0,0,0);
  --textColorHover2:rgb(0,0,0);
  --textColor3:rgb(70, 104, 65);
  --textColorHover3:rgb(114, 166, 103);
  --textColor4:rgb(105, 106, 70);
  --textColorHover4:rgb(109,134,45);
  --textHeaderColor:rgb(56,75,52);
  --textHeaderHoverColor:rgb(34,45,31);
  --textFooterColor:rgb(88,124,80);
  --textFooterHoverColor:rgb(44,62,40);
  --alertColor:rgba(255, 127, 0, 1);
  --fontTitle:Arial;
  --fontParagraph:Arial;
}

* {
  line-height:1.6em;
  font-family: var(--fontParagraph);
  margin:0;
  padding: 0;
}

hr {
  border-top: 0;
  border-bottom: 2px solid;
}

/* ********** HEADER ********** */
header {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 2em;
  background: var(--headerColor);
  margin:0;
  padding: 0;
}

.mainHeader {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: auto 0px;
  align-items: center;
  padding-right: 10%;
}

.langCheckbox {
  float: right;
  width: 4em;
}

.langCheckbox select {
  background-color: inherit;
  color: var(--textHeaderColor);
  font-size: 12pt;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
}

.langCheckbox select:hover {
  color: var(--textHeaderHoverColor);
  cursor: pointer;
}

/* ******** FOOTER ********* */
.mainFooter {
  display: flex;
  background-color: var(--footerColor);
  color: var(--textFooterColor);
  justify-content: space-between;
}

.footerContainer {
  display: flex;
  flex-direction: column;
}

.footerContainer:first-child {
  margin: 0.3em 0.5em 0.8em auto;
  width: 9em;
}

.footerContainer:last-child {
  margin: 0.3em auto 0.8em 0.5em;
  width: 9em;
}

.footerContainer a {
  color: var(--textFooterColor);
  text-decoration: none;
}

.footerContainer a:hover {
  color: var(--textFooterHoverColor);
  cursor: pointer;
}

.footerContainer hr {
  background-color: var(--textFooterColor);
}

/* *********** OTHER ********** */
.errorMsg {
  color:var(--alertColor);
}

.textInput {
  border: none;
  background: var(--bgColor2);
  height: 1.5em;
  font-size: 12pt;
  padding: 0.2em 0 0.2em 1em;
}

.submitButton {
  width: min-content;
  height: 2.5em;
  border: none;
  background: var(--successColor2);
  margin: 0px auto;
  padding: 0 1em;
}

.submitButton:hover {
  background: var(--successColor1);
}

.inlineInputContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
